# Docker build optimization - ignore unnecessary files
**/.git
**/.gitignore
**/.github
**/README.md
**/docs
# Don't ignore test directories - they contain go.mod files referenced in go.work
# **/test
# **/tests
**/*_test.go
**/vendor
**/node_modules
**/.DS_Store
**/*.log
**/*.tmp
**/*.swp
**/.env*
**/docker-compose*.yml
**/Dockerfile*
**/Makefile
**/.vscode
**/.idea
**/coverage*
**/*.out
**/dist
**/build
scripts/
configs/*.yml
!configs/config.docker.yaml
migrations/
!migrations/sql/
# Don't ignore go.work - needed for workspace builds
# go.work