# Docker build optimization - ignore unnecessary files
**/.git
**/.gitignore
**/.github
**/README.md
**/docs
**/test
**/tests
**/*_test.go
**/vendor
**/node_modules
**/.DS_Store
**/*.log
**/*.tmp
**/*.swp
**/.env*
**/docker-compose*.yml
**/Dockerfile*
**/Makefile
**/.vscode
**/.idea
**/coverage*
**/*.out
**/dist
**/build
scripts/
configs/*.yml
!configs/config.docker.yaml
migrations/
!migrations/sql/